name: android-lint

on:
  pull_request:
    paths:
      - .github/workflows/android-lint.yml
      - 'android-lint/**'

jobs:
  android-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: yutailang0119/action-android-lint@v4.0.0
        with:
          report-path: ./android-lint/build/reports/*.xml
          continue-on-error: true
