name: textlint

on:
  pull_request:
    paths:
      - .github/workflows/textlint.yml
      - 'textlint/docs/**/*.md'

jobs:
  textlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - run: npm install
        working-directory: ./textlint
      - name: run textlint
        id: run-textlint
        run: |
          echo "TEXTLINT_OUTPUT=$(./node_modules/.bin/textlint 'docs/**/*.md' -f json)" >> $GITHUB_OUTPUT
        working-directory: ./textlint
      - uses: yutailang0119/action-textlint@v4.0.1
        with:
          textlint-output: ${{ steps.run-textlint.outputs.TEXTLINT_OUTPUT }}
